@media print {
  body {
    visibility: hidden;
  }
  .bionic-text {
    visibility: visible;
  }
}
.bionic-text {
  white-space: pre-wrap;
}
textarea {
  width: 100%;
  min-height: 300px;
  white-space: pre-wrap;
}
.controls {
  display: flex;
  column-gap: 10px;
}
